/* RESET */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* COMMON */

body{
    font-family: 'Roboto', sans-serif;
}

main{
    display: flex;
    height: calc(100vh - 100px);
}


/* TYPO */

.aside-nav-middle h3, .download a, .name, .recently h2, .info-box-title. .info-box-title-small{
    text-transform: capitalize;
}

.fa-square-plus{
    font-size: 40px;
}

.aside-nav-middle h3{
    padding: 10px 0;
}

.recently h2, .created h2, .popular h2{
    padding: 10px;
}

.title-small{
    padding-left: 10px;
}

.info-box-title{
    font-weight: 500;
    color: #c0c0c0;
}

.info-box-title-small, .recently h2, .created h2, .popular h2, .title-small{
    color: #c0c0c0;
}

/* MAIN ASIDE*/

aside{
    padding: 10px;
    height: calc(100vh - 80px);
    width: 250px;
    background-color: #000000;
    color: #c0c0c0;
    display: flex;
    flex-flow: column nowrap;
    flex-shrink: 0;
}

.small-logo{
    display: none;
}

.big-logo{
    width: 75%;
    height: 80px;
    flex-shrink: 0;
}

aside ul{
    list-style: none;
}

aside ul li a{
    text-decoration: none;
    color: #c0c0c0;  
}

.aside-nav-top img, .fa-square-plus{
    width: 25px;
    vertical-align: middle;
    margin-right: 10px;
}

.aside-nav-top li, .aside-nav-middle li{
    padding: 5px 0;
}

.aside-nav-middle{
    overflow-y: auto;
    height: 80%;
}

.download, .username{
    padding: 10px 0;
}

.download img, .username i{
    width: 25px;
    vertical-align: middle;
}

.download a{
    text-decoration: none;
    color: #c0c0c0;
}

aside hr{
    width: 90%;
}

.username i{
    font-size: 30px;
    margin-right: 5px;
    padding-bottom: 5px;
}

.name{
    display: inline-block;
}

/* MAIN RIGHT */

.main-right{
    width: calc(100% - 200px);
    height: calc(100vh - 100px);
    background-color: #1b1f27;
}

.main-right header{
    padding-right: 80px;
    height: 100px;
    width: calc(100% - 200px);
    position: fixed;
    z-index: 10;
    background-color: black;
    opacity: 0.4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.upgrade {
    color: white;
    background-color: rgba(8, 11, 18, 0.4);
    margin-right: 5px;
    text-decoration: none;
    border:1px solid white;
    border-radius: 20px;
    padding: 12px 40px;
    text-transform: uppercase;
    cursor: pointer;
    z-index: 11;
}

.main-right nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
}

.main-right ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    gap: 35px;
}

.main-right ul li a{
    color: #c0c0c0;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
}

.main-right{
    overflow-y: scroll;
}

/* SECTION IMGS */

.recently .row, .created .row, .popular .row{
    display: flex;
    flex-flow: row wrap;
}

.recently .col, .created .col, .popular .col{
    width: calc(100% / 6);
    text-align: center;
}

.info-box-title{
    padding: 5px 0;
}


.recently .box, .created .box, .popular .box{
    margin: 10px;
}

.recently img, .created img, .popular img{
    width: 100%;
    display: block;
}

.img-cover{
    position: relative;
    overflow: hidden;
}

.img-cover-circle{
    width: 100%;
    border-radius: 50%;
    display: block;
}


/* FOOTER */

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: #2c2c2c;
    color: white;
    position: fixed;
    z-index: 9;
}

.footer-col-left, .footer-col-right{
    max-width: 25%;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    gap: 15px;
}

.footer-col-left, .footer-col-right{
    margin-bottom: 15px;
}

.footer-col-left{
    flex-grow: 0;
    text-align: left;
}

.footer-col-left img{
    height: 50px;
    margin-left: 10px;
}

.footer-col-left .info{
    padding-right: 25px;
}

.song-name-info{
    color: #c0c0c0;
    text-decoration: none;
}

.save{
    color: #c0c0c0;
}

.save i{
    padding: 5px;
}

.song-time{
    display: flex;
    align-items: middle;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}

.time-start, .time-end{
    line-height: 10px;
    padding: 0 5px;
}

.footer-middle{
    display: flex;
    width: 50%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.media-player{
    display: flex;
}

.footer-middle i{
    padding:0 25px;
    font-size: 20px;
}

.footer-middle  .media-progress-bar{
    height: 5px;
    width: 100%;
    background-color:#5a5a5a;
    border-radius: 5px;
}

.footer-middle  .media-hover{
    position: absolute;
    height: 4px;
    width: 10%;
    border-radius: 5px;
    background-color:#c0c0c0;
}

.song-time .media-progress-bar i{
    position: absolute;
    bottom: 22%;
    left: 36%;
    opacity: 0;
}

.footer-col-right{
    position: relative;
}

.footer-col-right .media-hover{
    position: absolute;
    height: 4px;
    width: 30%;
    border-radius: 5px;
    background-color:#c0c0c0;
}

/* STYLE */

.footer-col-right .media-progress-bar{
    height: 5px;
    width: 100px;
    background-color:#5a5a5a ;
    border-radius: 5px;
    position: relative;
    margin-right: 10px;
}

a:hover, .main-right a:hover{
    text-decoration: underline;
}

.upgrade:hover{
    padding: 15px 50px;
}

.fa-circle-play:hover{
    font-size: 25px;
}

.media-hover:hover{
    border: 2px solid lightgreen;
    background-color: lightgreen;
}

.save i:hover{
    color: white;
}

.img-cover:hover img, .box-img:hover {
    background-color: black;
    opacity: 0.5;
    transition: opacity 0.1s linear;
}

.img-cover:hover::after{
    position: absolute;
    top: 50%;
    left: 50%;
    color: #c0c0c0;
    content: "\f144";
    font-family: "Font Awesome 6 Free";
    font-size: 70px;
    transform: translate(-50%, -50%);
}

.song-time .media-progress-bar i:hover{
    opacity: 1;
}